{% extends 'task/base.html' %}
 {% block content %}
<div class="todo-list">
	<h3>Tasks</h3>

<!-- here is set up the task -->
		<div class="item-row">
				<form method="get">
					<input type="search" name="search_task" id="search_task">
				<button class="btn btn-success" type="submit" >Create</button>
				</form>
		</div>
		{% for task in task_list %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href="{% url 'task_update' task.id%}">Update</a>
			<a class="btn btn-sm btn-danger" href="{% url 'task_delete' task.id %}">Delete</a>
			<!-- this a tag is for task special view -->
			<a href="{% url 'task_view' task.id%}">
			<span>{{task.name}}</span>
			</a>
		</div>
		{% endfor %}

		<div class="item-row">
				<!-- this is for create -->
				<a href="{% url 'home' %}"><button class="btn btn-success" type="submit" name="Create Task">Create</button></a>
				<a href="{% url 'user_logout' %}"><button class="btn btn-success" type="submit" name="Create Task">user_logout</button></a>
		</div>
	</div>
     {% endblock %}





