{% extends 'task/base.html' %}
 {% block content %}
	<div class="todo-list">
	<h3>Task</h3>
		<h2><strong>{{task_object.name}}</strong></h2>
		<br>
		<br>
		<h2>{{task_object.description}}</h2>
		<br>
		<h2>{{task_object.user}}</h2>
		<br>
		<h2>{{task_object.get_status_display}}</h2>
		<br>
		<h2>status</h2>
		<br>
		<a class="btn btn-sm btn-info" href="{% url 'task_update' task_object.id%}">Update</a>
		<a class="btn btn-sm btn-danger" href="{% url 'task_delete' task_object.id %}">Delete</a>

	</div>

{% endblock %}


